<p style="margin: 5%"><%= @count %> Doctors Found</p>
 
<table class="table" style= "border-spacing: 0 2em;
    border-collapse: separate;">
 
<% @doctors.each do |doctor| %>
  <tr style="margin-top: 4%;margin-bottom: 4%;background-color: #eee;">
    <td><%= "Dr " + doctor.FirstName.titleize + " "%><%= doctor.MiddleName.titleize + " " %><%= doctor.LastName.titleize %><br>
    <%= doctor.City.titleize + ", "%><%= doctor.State %><br><br>
    Specialization<br>
    <% doctor.specializations.each do |spec| %>
      <span class="label label-default" style="font-weight: normal;"><%= spec.titleize %></span>
    <% end %>
    </td>
    <td> </td>
    <td>Experience<br><br><span style="background: white; border-radius: 50px;padding: 10% 10%;border: 1px solid black;font-size: 12px;"> <%= (Time.now.year - doctor.GradYear).to_s + "+" %></span></td>
    <td>Hospitals<br>
      <% doctor.hospitals.each do |hos| %>
      <span class="label label-default" style="font-weight: normal;"><%= hos.titleize %></span>
    <% end %>
    </td>


     <td><span id="myChart"></span>
      <%= doctor.payment_pie %></td>
     <td><%= doctor.prescription_pie %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @doctors %>
 
<br>
