
<style>
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: gray;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <body>
        <center>

            <div id="viz"></div>
            <%=javascript_tag do%>
    var height = 600;
    var width = 1200;

        var svg = d3.select("#viz")
        .append("svg")
        .attr("width", width)
        .attr("height", height);


        circleData = [{text:<%=@scorex%>,r:60,cx:width/2,cy:height/2,stroke:"red"},
                     {text:<%=@payments_recieved%>,r:40,cx:900,cy:100,stroke:"orange"},
                     {text:<%=@drugs_prescribed%>,r:40,cx:900,cy:400,stroke:"blue"},
                     {text:<%=@rating%>,r:30,cx:300,cy:400,stroke:"lightgreen"}]

        var scoreCircle = svg.append("g").selectAll("circle")
    .data(circleData)
    .enter();

    scoreCircle.
    append("circle")
    .style("stroke", '#e6e6e6')
    .style("stroke-width","3")
    .style("fill", function(d){return d.stroke})
    .attr("r", function(d){return d.r;})
    .attr("cx", function(d){return d.cx;})
    .attr("cy", function(d){return d.cy;});


    scoreCircle.append("text")
    .attr("text-anchor", "middle")
    .text(function(d,i) {
       if(i == 3|| i == 0)
        return d.text;
        else
         return "$"+d.text.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
      })
    .attr("x", function(d){return d.cx - 2;})
    .attr("y", function(d){return d.cy + 5;})
    .style({'font-weight':'bold', 'fill':'white'});

    var asset_arr = [{img:"/assets/right_arrow.png",x:640,y:80,dim:200},
                     {img:"/assets/left_arrow.png",x:350,y:80,dim:200},
                     {img:"/assets/left_bottom_arrow.png",x:350,y:290,dim:200},
                     {img:"/assets/right_bottom_arrow.png",x:640,y:290,dim:200},
                     {img:"/assets/bar_up.png",x:948,y:70,dim:50},
                     {img:"/assets/bar_up.png",x:948,y:370,dim:50}];

    var imgs = svg.selectAll("image");
            imgs.data(asset_arr)
            .enter()
            .append("svg:image")
                 .attr("xlink:href", function(d){return d.img;})
                .attr("x", function(d){return d.x;})
                .attr("y", function(d){return d.y;})
                .attr("width", function(d){return d.dim;})
                .attr("height", function(d){return d.dim});



    var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>" + d + "</strong>";
  })

svg.call(tip);
    <!-- Payments Data -->
    

      var xscale = d3.scale.linear()
                        .domain([<%= @payments.min()%>, <%=@payments.max()%>+1])
                        .range([50,200]);

      var yscale = d3.scale.linear()
                        .domain([0,5])
                        .range([0,100]);

      var chart = svg.append('g')
                            .attr("transform", "translate(1000,10)")
                            .attr('id','payments_group')
                            .selectAll('rect')
                            .data(<%= @payments %>)
                            .enter()
                            .append('rect')
                            .attr('height',19)
                            .attr({'x':0,'y':function(d,i){ return yscale(i)+19; }})
                            .style('fill','orange')
                            .attr('width',function(d){ return 0; })
                            .on('mouseover', tip.show)
      .on('mouseout', tip.hide);
      var transit = d3.select("svg").select('#payments_group').selectAll("rect")
                            .data(<%= @payments %>)
                            .transition()
                            .duration(1000)
                            .attr("width", function(d) {console.log(xscale(d));return xscale(d); });

      var transitext = d3.select('#payments_group')
                            .selectAll('text')
                            .data(<%= @payments %>)
                            .enter()
                            .append('text')
                            .attr({'x':function(d) {return 10; },'y':function(d,i){ return yscale(i)+35; }})
                            .text(function(d){ return d+"$"; }).style({'fill':'#fff','font-size':'14px'})
                            .on('mouseover', tip.show)
      .on('mouseout', tip.hide);;



    <!-- Prescription data -->
      var colors = ['#E6550D','#FD8D3C','#FDAE6B','#FDD0A2','#FDD2AA']

      var colorScale = d3.scale.quantize()
                        .domain([0,5])
                        .range(colors);

      var xscale = d3.scale.linear()
                        .domain([<%= @prescriptions.min()%>, <%=@prescriptions.max()%>+1])
                        .range([50,200]);

      var yscale = d3.scale.linear()
                        .domain([0,5])
                        .range([0,100]);

      var chart = svg.append('g')
                            .attr("transform", "translate(1000,330)")
                            .attr('id','prescription_group')
                            .selectAll('rect')
                            .data(<%= @prescriptions %>)
                            .enter()
                            .append('rect')
                            .attr('height',19)
                            .attr({'x':0,'y':function(d,i){ return yscale(i)+19; }})
                            .style('fill','blue')
                            .attr('width',function(d){ return 0; })
                            .on('mouseover', tip.show)
      .on('mouseout', tip.hide);;
      var transit = d3.select("svg").select('#prescription_group').selectAll("rect")
                            .data(<%= @prescriptions %>)
                            .transition()
                            .duration(1000)
                            .attr("width", function(d) {console.log(xscale(d));return xscale(d); });

      var transitext = d3.select('#prescription_group')
                            .selectAll('text')
                            .data(<%= @prescriptions %>)
                            .enter()
                            .append('text')
                            .attr({'x':function(d) {return 10; },'y':function(d,i){ return yscale(i)+35; }})
                            .text(function(d){ return d+"$"; }).style({'fill':'#fff','font-size':'14px'})
                            .on('mouseover', tip.show)
      .on('mouseout', tip.hide);






     <!-- Add Tags -->
     var yTranslate = 80
     var xTranslate = 200
     var tags = <%= raw @tags %>
       tags.forEach(function(d,i){
       svg.append("rect")
            .attr("transform", "translate("+xTranslate+","+(yTranslate+i*40)+")")
            .attr("height", 30)
            .attr("width", 100)
            .style("fill", "gray")
            .attr("rx", 5)
            .attr("ry", 5); 

        svg.append("text")
            .attr("transform", 
                  "translate("+(xTranslate+(100/2))+","+(yTranslate+i*(40)+10)+")")
            .attr("dy", ".71em")
            .attr("text-anchor", "middle")
            .style("fill", "white")
            .style("font-weight", "bold")
            .text(d); 

  })

  var baseY = 430;
  var yOffset = 25;
  docProp = <%= raw @doc_prop %>
  docProp.forEach(function(d,i){
  svg.append("text")
        .attr("x", width/2-5)
        .attr("y", 430 + i* yOffset )
        .attr("text-anchor", "middle")
        .style("font-size", "17dpx")
        .style("font-weight", "bold")
        .text(d);
})

 var ratingNames = ["Listening", "Diagnostic", "Time Spent"];
 ratingNames.forEach(function(d,i){
 svg.append("text")
        .attr("x", 50)
        .attr("y", 370 + i* yOffset )
        .attr("text-anchor", "middle")
        .style("font-size", "17dpx")
        .style("font-weight", "bold")
        .text(d);
    imgs.data([1, 1, 1, 0, 0])
    .enter()
    .append("svg:image")
                 .attr("xlink:href", function(d){ return d == 1?"/assets/selected_star":"/assets/unselected_star";})
                .attr("x", function(d,i){return 100+i*20;})
                .attr("y",  function(d,j){return 357 + i* yOffset})
                .attr("width", 15)
                .attr("height", 15);

 
})
  

        
  
       

    <% end %>
    </center>

    </body>